* , *::after , *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(73,95,117);
}
.yes{
    width: 1000px;
    height: 150px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 0 10px 2px rgb(33, 44, 55);
    border-radius: 10px;
    >*{
        position: absolute;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        color: black;
        top: 20px;
    }
    >span{
        font-size: 80px;
        &:nth-of-type(1){
            left: 50px;
            font-weight: bolder;
            animation: anmieop .4s infinite linear alternate;
        }
        &:nth-of-type(3){
            right: 50px;
            font-weight: bolder;
            animation: anmieop .4s infinite linear alternate;
        }
        &:nth-of-type(2){
            top: 27px;
            left: 120px;
            text-shadow: 0 0 8px rgb(2, 21, 21);
        }
    }
    >ul{
        top: 0;
        right: 250px;
        animation: anime linear  infinite alternate 5s;
        cursor: zoom-in;
        &:hover{
            animation-play-state: paused;
        }
        >li{
            list-style-type: none;
            height: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 60px;
        }
    }
    @keyframes anime {
        0%{top: 0;}
        10%{top: 0;}
        20%{top: -150px;}
        40%{top: -150px;}
        50%{top: -300px;}
        70%{top: -300px;}
        80%{top: -450px;}
        100%{top: -450px;}
    }
    @keyframes anmieop {
        to{opacity: 0;}
    }
}